html{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.homepage{
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.header-son{
    margin: 0px;
    padding: 0px;
    height: 160px;
    align-items: center;
    width: 100%;
    background-color: white;
    opacity: 0;
    transform: translateX(30px);
    animation: moveup 1s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.header-menu{
    align-items: center;
    justify-content: center;
}
.left-menu{
    width: 500px;
    padding-right: 30px;
    padding-left: 30px;
}
.left-menu-text{
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.left-menu-text a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    text-decoration: none;
    
    color: #274C5B;;
}
.right-search{
    width:315px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 30px;
    outline: none;
}
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color:#FAFAFA;;
    border-radius: 50px;
    width: 100%;
    outline: none;
}
  
.search-container input[type="text"] {
flex-grow: 1;
background-color: transparent;
border: none;
font-size: 16px;
height: 60px;
padding-left: 15px;
padding-top: 0px;
padding-bottom: 0px;
outline: none;
}

.search-container button[type="submit"] {
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
border: none;
background-color: transparent;
cursor: pointer;
font-size: 16px;
color: white;
background-color: #68A47F;
border-radius: 50%;
width: 50px;
height: 50px;
outline: none;
}
  
.search-container button[type="submit"] i {
    font-size: 16px;
}
  
.right-cart{
    width: 140px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #E0E0E0;
    border-radius: 36px;
    height: 60px;
}
.right-cart-a a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    padding-right: 10px;
    
    color: #274C5B;
}
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the dropdown button */
.dropbtn {
color: #333;
font-size: 16px;
border: none;
cursor: pointer;
}
.dropdown-content li{
    list-style-type: none;
}
/* Style the dropdown content */
.dropdown-content {
display: none;
position: absolute;
background-color: #f8f8f8;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
color: #333;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Style the dropdown links on hover */
.dropdown-content a:hover {
background-color: #ddd;
}

.top1{
    width: 100%;
    height: 350px;
    background-image: url("images/Services.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top2{
    width: 100%;
    height: 1200px;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
}
.top2-son{
    width: 70%;
    height: 900px;
}
.top2-top{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top2-top p{
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 49px;
    margin: 0px;
    
    
    color: #7EB693;
    
    
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.top2-top h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 59px;
    text-align: center;
    
    color: #274C5B;
    
    
    
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 40%;
}
.top2-middle{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top2-left{
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.top2-center{
    width: 40%;
    height: 600px;
}
.top2-box{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.top2-box h4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    margin: 0px;
    
    color: #274C5B;
}
.top2-box p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;    
    color: #355e6f;
    text-align: end;
    margin: 0px;
    height: 40px;
    width: 200px;
    line-height: 15px;
}
.top2-right{
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.top2-box1{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.top2-box1 h4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    margin: 0px;
    
    color: #274C5B;
}
.top2-box1 p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;    
    color: #355e6f;
    text-align: start;
    margin: 0px;
    height: 40px;
    width: 200px;
    line-height: 15px;
}
.top2-bottom{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top2-bottom button{
    border: none;
    background: white;
}
.top2-bottom button a:hover {
    background-color:#274C5B ;
    color: white;
    width: 200px;
    height: 70px;
}
.top2-bottom button a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    
    color: #274C5B;
    
        
    flex: none;
    order: 0;
    flex-grow: 0;
    box-sizing: border-box;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 28px 36px 29px;
    gap: 10px;
    
    width: 190px;
    height: 65px;

    background: #F9F8F8;
    border: 2px solid #335B6B;
    border-radius: 16px;
    transition: 0.3s;
}
.top3{
    width: 100%;
    height: 100vh;
}
.bg-video {
  position: relative;
  height: 100%;
}

.bg-video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#play-button, #pause-button  {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6%;
  height: 80px;
  background: url('images/Video\ Icon.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s;
  display: flex;
  justify-content: center;
}
#my-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  z-index: 2;
}
.bg-video h5{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 49px;
    
    text-align: center;
    
    color: #7EB693;
    
    
    
    flex: none;
    order: 0;
    flex-grow: 0;
    height: fit-content;
    z-index: 1;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-video h2{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 59px;
    padding-top: 40px;    
    text-align: center;
    
    color: #274C5B;
    
    
    
    flex: none;
    order: 1;
    flex-grow: 0;
    height: fit-content;
    z-index: 1;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-video p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding-top: 15px;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 165.4%;
    
    text-align: center;
    
    color: #274C5B;
    
    
    
    flex: none;
    order: 1;
    flex-grow: 0;
    height: fit-content;
    z-index: 1;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top11-bottom{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}
.top11-bottom-left{
    width: 30%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 40px;
    justify-content: space-between;
}
.top11-bottom-middle{
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-right: solid 1px rgb(211, 211, 211);
    border-left: solid 1px rgb(211, 211, 211);
    justify-content: space-between;
}
.top11-bottom-left p a{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-top: 15px;
    color: #274C5B;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.top11-bottom-left p{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-top: 15px;
}
.top11-bottom-left h6 a{
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #274C5B;
    text-decoration: none;
}
.top11-bottom-middle p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    
    text-align: center;
    
    color: #525C60;    
}
.top11-bottom-right{
    width: 30%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    justify-content: space-between;
}
.top11-bottom-right p a{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #274C5B;
    text-decoration: none;
}
.top11-bottom-imgs{
    width: 50%;
    height: 55px;
    display: flex;
    justify-content: space-between;
}
.top11-bottom-imgs img{
    transition: 0.3s;
    cursor: pointer;
}
.top11-bottom-imgs img:hover{
    width: 55px;
    height: 55px;
    border: solid 1px greenyellow;
    border-radius: 50%;
}
@media only screen and (max-width: 1076px){
    .left-menu-text{
        display: none;
    }
    .right-cart-a{
        display: none;
    }
    .right-cart{
        border: none;
    }
}